<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
			{{#if sleep}}DEVOUR TIME!{{else}}I AM NO LONGER HUNGRY!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">I AM NO LONGER HUNGRY!</button>

</li>