
<div class="col s6">
	{{#each burgers}}
	{{#if this.devoured}}
	<div class='burger-devoured'>
		<div>
			{{this.burger_name}}
		</div>
	</div>
	{{/if}}
	{{/each}}
</div>

<form action="/{{this.id}}?_method=DELETE" method="POST">

<button type="submit" class="delete-burger button-delete-burger" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}
		{{else}}
		{{/if}}
</button>

</form>

